@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Tahoma, sans-serif;
}

.texto-azul {
    color: #0082d2;
}

.negrito {
    font-weight: bold;
}

.texto-amarelo {
    color: #ffff00;
    font-weight: bold;
}

.tamanho-subtitulo {
    font-size: 29px;
}

.fundo-azul {
    background-color: #278cf0;
}

#cabecalho {
    background-color: #b2e0fc;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 65px;
}

#cabecalho img {
    width: 180px;
    margin-bottom: 20px;
}

#cabecalho nav, a {
    color: #000000;
    word-spacing: 15px;
    font-size: 18px;
}

#cabecalho a {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

#secao-sobre {
    width: 1100px;
    margin: 0 auto;
}

#secao-sobre #banner {
    margin-top: 30px;
    margin-bottom: 80px;
    width: 1100px;
}

#secao-sobre h2 {
    font-weight: normal;
    margin-top: 7px;
}

#secao-sobre img {
    width: 450px;
    margin: 20px 0;
}

#secao-sobre p {
    text-align: justify;
    margin-bottom: 50px;
}

#secao-servicos {
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 50px;
}

#secao-servicos h3 {
    margin-bottom: 70px;
}

#secao-servicos p {
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 30px;
}

#secao-servicos ul {
    margin-top: 60px;
    list-style-position: inside;
}

#secao-servicos li {
    text-align: start;
    margin-left: 870px;
    margin-bottom: 30px;
}

#secao-corretores {
    width: 900px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

#secao-corretores img {
    width: 400px;
    margin-top: 30px;
}

#secao-corretores p {
    text-align: start;
    margin: 20px;
    line-height: 24px;
}

#secao-corretores a {
    color: #025d95;
}

#secao-contato {
    height: 700px;
    padding-bottom: 70px;
}

#secao-contato h3 {
    color: #ffffff;
    padding-top: 70px;
    margin-bottom: 30px;
}

#secao-contato .mapa {
    width: 850px;
    height: 400px;
}

#secao-contato #paragrafo-contato {
    width: 870px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    background-color: #232323f0;
    color: #ffffff;
}

#secao-contato .escritorios {
    background-color: #ffffff;
    width: 220px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
}

#secao-contato a {
    word-spacing: 3px;
}

#secao-contato .tamanho-escritorio-centro {
    width: 175px;
}

#secao-contato .tamanho-escritorio-meler {
    width: 140px;
}

footer {
    padding: 10px;
}


